
<div class="mobile-header">
  <%= link_to('/') do %>
    <h3> Pacifica Coffee </h3>
  <% end %>
</div>


<section class="sessions-login">

  <%= form_tag '/login' do %>

    <p>User Name</p>
    <%= text_field_tag :user_name %>

    <p>Password</p>
    <%= password_field_tag :password %>

    <%= submit_tag "Login" %>

  <% end %>

  <%= link_to 'Signup', signup_path, class: 'login-signup' %>

</section>
