<!-- user controller add to chart -->
<% if flash[:already_in_cart] %>
  <p class="error-p error-msg"><%= flash[:already_in_cart]%></p>

<!-- user controller add to chart -->
<% elsif flash[:item_added] %>
  <p class="error-p alert-msg"><%= flash[:item_added] %> </p>

<!-- user controller update_cart -->
<% elsif flash[:cart_update_success] %>
  <p class="error-p alert-msg"><%= flash[:cart_update_success] %> </p>

  <!-- user controller update_cart -->
<% elsif flash[:cart_item_removed] %>
  <p class="error-p alert-msg"><%= flash[:cart_item_removed] %> </p>

<% elsif flash[:address_saved] %>
  <p class="error-p alert-msg"><%= flash[:address_saved] %> </p>


<% else %>
<!-- do nothing... -->
<% end %>
