<%= form_for :user, url: users_cart_proceed_path do |f| %>

   <% @addresses = Address.where(user_id: current_user.id) %>

   <p>Shipping</p>

   <select name="shipping-address" form="#" >
     <% if @addresses.empty? %>
       <option value="value1">No Saved Address</option>
     <% else %>
       <% @addresses.each do |address| %>
         <option value="value1"><%= address.nickname %> - <%= "#{address.address} #{address.city} #{address.state} #{address.zip} " %> </option>
       <% end %>
     <% end %>
   </select>


   <p>Billing<br /></p>

   <p class="check_billing">Use Shipping Address <%= f.check_box 'billing_checkbox' %></p>

   <select name="billing-address" form="#" class='billing_address'>
     <% if @addresses.empty? %>
       <option value="value1">No Saved Address</option>
     <% else %>
       <% @addresses.each do |address| %>
         <option value="value1"><%= address.nickname %> - <%= "#{address.address} #{address.city} #{address.state} #{address.zip} " %> </option>
       <% end %>
     <% end %>
   </select>

   <!-- hidden field passing over user_id for strong params -->
   <%= f.hidden_field :user_id, :value => current_user.id %>

  <!-- dollar amount -->
  <div class="cart-details-total">
    <span>Total:</span>
    <span>$<%= @cart_total %>.00</span>
  </div>

    <!-- submit btn -->
    <div class="cart-ship-bill-submit">
   <%= f.submit 'Checkout' %>
   </div>

<% end %>

