<%= form_for :user, url: new_charge_path do |f| %>

  <% @addresses = Address.where(user_id: current_user.id) %>

  <p>Shipping Address:<br /></p>

  <%= f.select(:shipping_address) do %>
    <% @addresses.each do |a| -%>
      <% address = "#{a.nickname} - #{a.address} #{a.city} #{a.state} #{a.zip} " %>
      <%= content_tag(:option, address) %>
    <% end %>
  <% end %>

  <p>Check if Billing Address is the same <%= f.check_box 'billing_checkbox' %></p>

  <p class='billing_address'>Billing Address:<br /></p>
   
  <%= f.select(:billing_address) do %>
    <% @addresses.each do |a| -%>
      <% address = "#{a.nickname} - #{a.address} #{a.city} #{a.state} #{a.zip} " %>
      <%= content_tag(:option, address) %>
    <% end %>
  <% end %>

  <!-- hidden field passing over user_id for strong params -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <%= f.submit 'Proceed to Checkout', class: 'stripe-button-el' %>
  
<% end %>

 