<section class="cart-container">

  <!-- Col 1
  #########################-->
  <section class= "tablet-view cart-col">

    <!-- item cards -->
    <% if current_user.cart != '' %>
      <%= render 'partials/cart_items', locals: {items: @items} %>
    <% else %>
    <div class="empty-cart">
      <h4>Your Shopping Cart is Empty</h4>
      <%= link_to 'add more items', items_path %>
    </div>
    <% end %>
  </section>



  <!-- Col 2
  #########################-->


  <!-- Cart payment details -->
  <div class="cart-col cart-details">

  <% if current_user && current_user.cart != '' %>
    <!-- Total and Pay container  -->
    <div class="cart-details-total">

      <h3> Order Summary </h3>

      <%= form_tag charges_path do %>
        <article>
          <!-- Error -->
          <% if flash[:error].present? %>

            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>

          <label class="amount">
            <span>Total:</span>
            <span>$<%= @cart_total %>.00</span>
          </label>
        </article>
      <% end %>
      <!-- end of form -->

    </div>

  <div>
    <%= render 'form' %>
  </div>
    <!-- Address Container -->
  <div>
   <%= render 'addresses/form' %>
  </div>

      <% end %>
</div>

</section>
