

<section class="cart-container">

     <!-- Col 1
  #########################-->

  <!-- Cart Addresses -->
  <div class="cart-col cart-address">
    <div class="cart-address-selection">
      <h3>Ship to:</h3>
      <!-- See http://www.w3schools.com/tags/att_select_form.asp -->
      <select name="checkout-address" form="#">
        <option value="value1" selected>Address 1</option>
        <option value="value1">Address 2</option>
        <option value="value1">Address 3</option>
      </select>
    </div>
</div>

  <!-- Col 2
  #########################-->

  <!-- Cart Items -->
  <div class="cart-col cart-items" id="cart-item">
     <% prices = [] %>
    <ul>
      <% @items.each do |item, qty| %>
        <div class="cart-item">

          <!-- checkout-item-wrapper -->
          <div class="cart-item-wrapper">

            <!-- col 1 -->
            <!-- image -->
            <div class="cart-item-image cart-item-col">
              <span>Product image</span>
            </div>

            <!-- col 2 -->
            <!-- Name -->
            <div class="cart-item-name cart-item-col">
              <li> <%= item.item_name %> </li>
            </div>

            <!-- col 3 -->
            <!-- details -->
            <div class="cart-item-details cart-item-col">

              <li> $<%= item.price %>.00
                    <% prices << item.price * qty.to_i %>
              </li>

              <li>
                <%= form_for :user, url: '/users/cart/update' do |f| %>
                  <%= hidden_field_tag('item_id', value = item.id) %>
                  <%= hidden_field_tag('old_qty', value = qty) %>

                  <!-- Used fields -->
                  <%= number_field_tag('qty', value = qty, min: 1) %>
              </li>

              <li class="cart-item-update-btn">
                  <%= f.submit 'Update' %>
                <% end %>
              </li>

            </div>
            <!-- End of cart-item-wrapper -->
          </div>

          <!-- remove item -->

            <%= link_to 'Remove Item', users_cart_path(item_id: item.id), method: :delete, class: 'cart-item-remove--btn' %>

        </div>
      <% end %>

    </ul>
  </div>

  <!-- Col 3
  #########################-->

  <!-- Cart payment details -->
  <div class="cart-col cart-details">

    <!-- Total and Pay container  -->
    <div class="cart-details-total">
      <h3> Order Summary </h3>
      <% if current_user && current_user.cart != '' %>
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Total:</span>
              <span>$<%= @cart_total %>.00</span>
            </label>
          </article>

        <% end %>

      <% else %>
        <h4>Your Shopping Cart is Empty</h4>
      <% end %>
    </div>

    <!-- Address Container -->

  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Pacifica Coffee"
    data-amount="<%= @cart_total %>00"
    data-locale="auto">
  </script>
  <%= link_to 'Proceed to Checkout', users_cart_checkout_path %>

</section>
