<section class="cart-container">

  <!-- Col 1
  #########################-->
  <section class= "cart-col">

    <% if current_user.cart != '' %>

    <!-- item cards -->
      <%= render 'partials/cart_items', locals: {items: @items} %>

    <% else %>

    <div class="empty-cart">
      <h4>Your Shopping Cart is Empty</h4>
      <%= link_to 'add more items', items_path %>
    </div>

    <% end %>
  </section>



  <!-- Col 2
  #########################-->
<% if current_user && current_user.cart != '' %>
  <!-- stripe error -->
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>
  <% end %>

  <!-- Cart payment details -->
  <div class="cart-col cart-details">
    <!-- end of error -->

<!-- Address -->
    <div class="cart-addresses">

      <div class="cart-select-address">
        <%= render 'form' %>
      </div>

      <div class="cart-add-address">
        <input id="cart-show-address" type="checkbox">
        <label for="cart-show-address"> Add new address </label>
        <%= render 'addresses/form' %>
      </div>

    </div>

  <!-- dollar amount -->
    <div class="cart-details-total">
      <span>Total:</span>
      <span>$<%= @cart_total %>.00</span>
    </div>

  </div>
  <!-- end of col 2 -->
<% end %>
<!-- end of hide if no items in cart -->

</section>
