<div class="mobile-header">
  <%= link_to('/') do %>
    <h3> Pacifica Coffee </h3>
  <% end %>
</div>


<section class="signup-container">

  <%= form_for :user, url: '/users' do |f| %>

    <span class="signup-col">
      <p>First Name</p>
       <%= f.text_field :first_name %>
      <p>Last Name</p>
       <%= f.text_field :last_name %>
    </span>

    <span class="signup-col signup-col-2">
      <p>User Name</p>
       <%= f.text_field :user_name %>
    </span>

    <span class="signup-col signup-col-3">
      <p>Password</p>
       <%= f.password_field :password %>
      <p>Password Confirmation</p>
       <%= f.password_field :password_confirmation %>
    </span>

    <%= f.submit 'Submit', class: 'signup-submit-btn' %>

  <% end %>

  <%= link_to 'Already have an account?', login_path, class: 'signup-login' %>

</section>