<div class="mobile-header">
  <%= link_to('/') do %>
    <h3> Pacifica Coffee </h3>
  <% end %>
</div>


<section class="signup-container">

  <%= form_for :user, url: '/users' do |f| %>

    <span class="signup-col">
      <p>First Name</p>
       <%= f.text_field :first_name, :required => true %>
      <p>Last Name</p>
       <%= f.text_field :last_name, :required => true %>
    </span>

    <span class="signup-col signup-col-2">
      <p>User Name</p>
       <%= f.text_field :user_name, required: true %>
    </span>

    <span class="signup-col signup-col-3">
      <p>Password</p>
       <%= f.password_field :password, required: true, pattern: "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$
", title: "8 characters, 1 Uppercase + Number", class: 'password-psw' %>
       <span>
        <label class="psw-label" for="user_password"> Passwords must match</label>
       </span>

      <p>Password Confirmation</p>
       <%= f.password_field :password_confirmation, required: true, pattern: "((?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$
", title: "8 characters, 1 Uppercase + Number", class: 'confirm-psw' %>
       <span>
        <label class="psw-label" for="user_password_confirmation"> Passwords must match</label>
       </span>
  </span>

    <%= f.submit 'Submit', class: 'signup-submit-btn form-submit-btn' %>

  <% end %>

  <%= link_to 'Already have an account?', login_path, class: 'signup-login' %>

</section>

<!-- :required => true, :pattern => -->

<!-- , pattern: "\w{3}", title: 'User Name must not contain any capital letters(A-Z)'  -->