<div id="profile-container">
    <h2><p>Hello <%=current_user.first_name%></p></h2>
  <!-- <div class="main-profile" id="div1"> -->
    <div class="profile-col-2">
    </div>
  <!-- </div> -->

    <div class="user-info" id="div3">
        <h3><p>Account Information</p></h3>
        <ul>Name: <%=current_user.first_name%> <%=current_user.last_name%></ul>
        <ul>Username: <%=current_user.user_name%></ul>
        <ul>Email: <%=current_user.email%></ul>
        <ul>Phone: <%=current_user.phone_number%></ul>
        <ul>Shipping address:</ul>
    </div>
    <div class="new-address" id="div4">
      <p>Add an address to your account.</p>
      <%= render 'addresses/form' %>
    </div>
    <div class="order-history" id="div2" style="border-bottom: 1px solid black;">
      <ul>
       <%= link_to "Order History", "/orders" %>
       </ul>
    </div>
  </div>

