<h1>Your Orders</h1>


<ul>

  <% @orders.each_with_index do |order, index| %>

    <div class="item" >

      <li> <%=  Date.parse("#{order.created_at}") %> </li>
      <li> $<%= @order_totals[index] %>.00</li>
      <p> <%= "/orders/#{order.id}" %> </p>

      <!-- Ajax get items for individual order -->
      <script type="text/javascript">
        console.log("order/#{order.id}")
        $.ajax({
          type: "GET",
          dataType: "json", // this is needed to work, make it best practice...
          url: "<%= "/orders/#{order.id}" %>" //Not sure this is best practice but its kinda cool
        }).done(function(data){
          console.log(data)
        })

      </script>

    </div>


    <!-- Button -->
    <%= link_to "Order No.#{order.id}", "/orders/#{order.id}" %>

  <% end %>

</ul>


