<%= form_for :address, url: addresses_path do |f| %>

 <p> Address Name: </p>
 <%= f.text_field :nickname %>

 <p>Address: </p>
 <%= f.text_field :address %>

 <p> City: </p>
 <%= f.text_field :city %>

 <p> State: </p>
 <%= f.text_field :state %>

 <p> Zip: </p>
 <%= f.text_field :zip %>

   <!-- hidden field passing over user_id for strong params -->
   <%= f.hidden_field :user_id, :value => current_user.id %>

   <%= f.submit 'Save' , class: 'form-submit-btn' %>

<% end %>

