
<%= form_for(@item) do |f| %>

  <p> Name </p>
  <%= f.text_field :item_name %>

  <p> Description </p>
  <%= f.text_area :item_description %>

  <p> Quantity </p>
  <%= f.number_field :quantity %>

  <p> Price </p>
  <%= f.number_field :price %>

  <p> SKU </p>
  <%= f.text_field :sku %>

  <p>Large Image </p>
  <%= f.text_field :large_image %>

  <p>Small Image</p>
  <%= f.text_field :small_image %>

  <p>Caffeine</p>
  <%= f.text_field :caffeine %>

  <p>Region</p>
  <%= f.text_field :region%>

  <p>Roast</p>
  <%= f.text_field :roast %>

  <%= f.submit 'Submit', class: 'form-submit-btn' %>
<% end %>

