
<!-- Inital Button -->

<a href= "#" class="quickviewBtn"> Quick View </a>

<div class="quickview-container">

  <section class="modal-header">
    <!-- X button -->
    <button id='x-btn'>
      <span>close</span>
    </button>

  </section class="modal-header">

  <!-- product image -->
  <section class="modal-itemImage"></section>

  <!-- item details -->
  <section class="modal-itemDetails">
    <h4> <%= @item.item_name %> </h4>
    <p> <%= @item.item_description %> </p>
    <p class="price"> $<%= @item.price %>.00 </p>

    <%= form_for :user, url: '/users/cart' do |f| %>
      <%= hidden_field_tag('item_id', value = @item.id) %>
      <span>
        <label for="item_qty">Qty:</label>
        <%= number_field_tag('item_qty', value = 1) %><br>
      </span>
      <%= f.submit 'Add to Cart', class:"btn-add-to-cart" %>
    <% end %>
  </section>

</div>