
<%= link_to 'Add Item', new_item_path %>

<!-- Filter Navigation -->
<%= render "navigation/filter_nav" %>

<div class="admin-wrap">
  <% @items.each do |item| %>
    <div class="admin-container">

      <div class="admin-items">
        <div class="admin-item-img a-item">
          <div style="background: red;">img
        </div>
      </div>
        <ul class="admin-item a-item">
          <li><%= item.item_name %> </li>
          <li><%= item.item_description %> </li>
          <li> $<%= item.price %>.00 </li>
        </ul>
      </div>

    <% if current_user.admin %>
      <div class="admin-btns">
        <%= link_to 'Update', edit_item_path(item) %>
        <%= link_to 'Delete',
          item,
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
