
<!-- Filter Navigation -->
<button id='mobile-filter-btn' class='mobile-filter-btn'>Filter</button>

<aside class="filter-container">
  <%= render "navigation/filter_nav" %>
</aside>

<ul class="items-container">
  <% @items.each do |item| %>
    <div class="item-card">
      <h4> <%= item.item_name %> </h4>
      <li> <%= item.item_description %> </li>
      <li> $<%= item.price %>.00 </li>
      <li>
        <%= form_for :user, url: '/users/cart' do |f| %>

          <%= hidden_field_tag('item_id', value = item.id) %>
          <%= number_field_tag('item_qty', value = 1) %><br>
          <%= f.submit 'Add to Cart', class:"btn-add-to-cart" %>

        <% end %>
      </li>

      <!-- Quick view modal and button-->

      <!-- pass along the local var as an istance only way to traverse render -->
      <% @item = item %>
      <%= render 'quick_view', locals: @item %>

    </div>
  <% end %>
</ul>