
<aside>
  <div class="filter">
    <h4>Coffee Format</h4>
    <div>
      <ul>
        <li>PlaceHolder</li>
        <li>PlaceHolder</li>
        <li>PlaceHolder</li>
      </ul>
    </div>
  <div>
      <h4>Filter</h4>
      <h3>Type</h3>
      <ul>
        <li><input type="checkbox" />Whole</li>
        <li><input type="checkbox" />Ground</li>
      </ul>
    </div>
  <div>
      <h3>Roast</h3>
      <ul>
        <li><input type="checkbox" />Blonde</li>
        <li><input type="checkbox" />Medium</li>
        <li><input type="checkbox" />Dark</li>
      </ul>
    </div>
  <div>
      <h3>Region</h3>
      <ul>
        <li><input type="checkbox" />Latin America</li>
        <li><input type="checkbox" />Africa</li>
        <li><input type="checkbox" />Asian Pacific</li>
      </ul>
    </div>
  </div>
</aside>


  <ul class="items-container">
    <% @items.each do |item| %>
      <div class="item-card">
        <h4> <%= item.item_name %> </h4>
        <li> <%= item.item_description %> </li>
        <li> $<%= item.price %>.00 </li>
        <li>
          <%= form_for :user, url: '/users/cart' do |f| %>

            <%= hidden_field_tag('item_id', value = item.id) %>
            <%= number_field_tag('item_qty', value = 1) %><br>
            <%= f.submit 'Add to Cart', class:"btn-add-to-cart" %>

          <% end %>
        </li>

      </div>
    <% end %>
  </ul>