<section class="nav-container">

  <!-- Inner container A -->
  <div class="btn-wrap">

    <%= link_to('/') do %>
      <h3> Pacifica Coffee </h3>
    <% end %>

    <!-- hambuger menu mobile only -->
    <button id='mobile-menu-btn' class='mobile-menu-btn c-hamburger c-hamburger--htx'>
     <span>menu</span>
   </button>

  </div>

  <!-- Inner Container B -->
  <ul class="main-nav" id="main-nav">

    <% if current_user %>
      <li><%= link_to "Profile", '#', id: 'profileNavBtn' %></li>
    <% end %>

    <li><%= link_to 'Shop', '/items' %></li>

    <% if current_user %>
      <!-- link for dropdown profile -->

      <li><%= link_to 'Cart', '/users/cart', data: { no_turbolink: true } %></li>


      <% if current_user.admin %>

        <li><%= link_to 'admin', '/admin' %></li>

      <% end %>

    <% else %>

      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Signup', '/signup' %></li>

    <% end %>

  </ul>
</section>

<!-- append modal when profile button clicked...  -->
<div class="profile-modal-tag" id="profile-modal-anchor">
  <% if current_user %>
    <%= render 'partials/nav_profile_modal' %>
  <% end %>
</div>