<section class="nav-container">

  <!-- Inner container A -->
  <div class="btn-wrap">

    <%= link_to('/') do %>
      <h3> Pacifica Coffee </h3>
    <% end %>

    <!-- hambuger menu mobile only -->
    <button id='mobile-menu-btn' class='mobile-menu-btn c-hamburger c-hamburger--htx'>
     <span>menu</span>
   </button>

  </div>

  <!-- Inner Container B -->
  <ul class="main-nav" id="main-nav">

    <li><%= link_to 'Shop', '/items' %></li>

    <% if current_user %>

      <li><a href="#"> Hello <%= current_user.user_name %> </a></li>
      <li><%= link_to 'Cart', '/users/cart', data: { no_turbolink: true } %></li>
      <li><%= link_to 'Order History', '/users/order_history' %></li>

      <% if current_user.admin %>

        <li><%= link_to 'admin view', '/admin' %></li>
        <li><%= link_to 'user view', '/items' %></li>

      <% end %>

    <% else %>

      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Signup', '/signup' %></li>

    <% end %>

    <li><%= link_to "Logout", '/logout' %> </li>
  </ul>
</section>