  <div>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @cart_total %>.00</span>
    </label>
  </div>

  <div>
    <h4>Shipping Address:</h4>
    <%= params[:user][:shipping_address] %>
    <h4>Billing Address:</h4>
    <% if params[:user][:billing_checkbox] == '1' %>
      <%= params[:user][:shipping_address] %>
    <% else %>
      <%= params[:user][:billing_address] %>
    <% end %>
  </div>

<%= form_tag charges_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Test Charge"
    data-amount="<%= @cart_total %>00"
    data-locale="auto">
  </script>
<% end %>