<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @cart_total %>.00</span>
    </label>
  </article>

  <div>
    <h4>This is the confirmation page showing user their shipping & billing addresses, order summary, and a confirm to pay button</h4>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Test Charge"
    data-amount="<%= @cart_total %>00"
    data-locale="auto">
  </script>
<% end %>