<!-- app/views/layout/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>PacificaCoffee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.user_name %> | <%= link_to "Logout", '/logout' %>
  <% if current_user.admin %>
    | <%= link_to 'admin view', '/admin' %>
  <% end %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>







<%= yield %>

</body>
</html>