<!-- app/views/layout/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>PacificaCoffee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
<script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
<![endif]-->

  <!-- mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--
Navigation
 -->
 <!-- hide main navigation on specificied pages -->
 <% unless @disable_nav%>

   <header class="main-header" id="main-header">
    <!-- Main Nav -->
    <%= render "navigation/main_nav" %>
  </header>

<% end %>

<!-- Errors on top of page -->
<div id="errorContainer">
  <%= render "partials/header_errors" %>
</div>

<main>
  <%= yield %>
</main>

<footer class="main-footer">
  <div class="footer-inner">
    <p>&copy; 2016 Pacifica Coffee</p>
    <p>Design by James Brown, Si Cheng and Drew Peterson </p>
  </div>
</footer>

</body>
</html>