<!-- app/views/layout/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>PacificaCoffee</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--
Navigation
 -->
<header class="main-header" id="main-header">

  <!-- Main Nav -->
  <%= render "navigation/main_nav" unless @disable_nav %>

</header>

<!-- Errors on top of page -->
<%= render "partials/header_errors" %>

<main>
  <%= yield %>
</main>

<footer class="main-footer">
  <div class="footer-inner">
    <p>&copy; 2016 Pacifica Coffee</p>
    <p>Design by James Brown, Si Cheng and Drew Peterson </p>
  </div>
</footer>

</body>
</html>